@import "../mixins.scss";

.OutlineViewItem {
  display: grid;
  grid-template-areas: "bullet text" "empty text" "empty note" "empty children";
  grid-template-columns: 1.5em 1fr;
  grid-template-rows: 1.5em auto auto auto;
  margin-bottom: 0.5em;

  > .bullet {
    grid-area: bullet;
    place-self: center;
    width: 0.4em;
    height: 0.2em;
    border-radius: 0.2em;
    margin-top: 0.2em;
    background-color: #bbb;
  }

  > .name,
  > .note {
    padding: 0.2rem;
  }

  > .name {
    grid-area: text;
    white-space: pre-wrap;
  }

  > .note {
    @include font-p-small;
    grid-area: note;
    white-space: pre-wrap;
  }
}
