@import "../mixins.scss";

.OverviewItem {
  @include clean-link;
  display: block;
  padding: 0.1rem 0;

  &.active,
  &:hover {
    background-color: #ccc;
  }

  .NodeIcon {
    margin-right: 0.2rem;
  }
}
