@import "../fonts.scss";

.OverviewItem {
  display: block;
  padding: 0.1rem 0;
  margin-left: -0.5em;
  padding-left: 0.5em;

  &.active,
  &:hover {
    background-color: #ccc;
  }

  .NodeIcon {
    margin-right: 0.2rem;
  }
}
