@import "../fonts.scss";

.FolderViewItem {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;

  &:hover,
  &:focus-within {
    background-color: #ddd;

    button {
      opacity: 1;
    }
  }

  a {
    grid-row: 1;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1rem 1fr;
    grid-gap: 1rem;
    padding: 0.5rem 1rem;

    .NodeIcon {
      font-size: 150%;
    }
  }

  button {
    opacity: 0;
    grid-row: 1;
    grid-column: 2;
    border: none;
    color: #bbb;
    background: none;
    cursor: pointer;

    &:hover,
    &:focus {
      color: inherit;
      background-color: #ddd;
    }
  }
}
