@import "fontsource-roboto/300.css";
@import "fontsource-roboto/400.css";
@import "fontsource-indie-flower/400.css";

@mixin font-logo {
  font-size: 14pt;
}

@mixin font-ui {
  font-size: 11pt;
}

@mixin font-ui-small {
  font-size: 10pt;
  font-weight: 300;
}

@mixin font-h1 {
  font-size: 32pt;
  font-weight: 300;
}

@mixin font-p {
  font-size: 16pt;
}

@mixin font-p-small {
  font-size: 12pt;
  font-weight: 300;
}

@mixin font-cursive {
  font-family: "Indie Flower", cursive;
  font-size: 24pt;
}

:root {
  @include font-p;
  font-family: "Roboto", sans-serif;
  color: #222;
  background-color: #eee;
}
