@mixin font-logo {
  font-size: 14pt;
}

@mixin font-ui {
  font-size: 11pt;
}

@mixin font-ui-small {
  font-size: 10pt;
  font-weight: 300;
}

@mixin font-h1 {
  font-size: 32pt;
  font-weight: 300;
}

@mixin font-p {
  font-size: 16pt;
}

@mixin font-p-small {
  font-size: 12pt;
  font-weight: 300;
}

@mixin clean-link {
  text-decoration: inherit;
}
