@import "fontsource-roboto/300.css";
@import "fontsource-roboto/400.css";
@import "./ui/mixins.scss";

:root {
  @include font-p;
  font-family: "Roboto", sans-serif;
  color: #222;
  background-color: #eee;
}

html,
body,
#root {
  display: grid;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

button {
  @include font-ui;
  background-color: #ddd;
  border: 1px solid #bbb;
  border-radius: 2px;
  padding: 0.4em 0.8em;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #bbb;
  }
}

input,
textarea {
  width: 100%;
  resize: none;
}

table {
  width: 100%;
}
